.header{
    width: 30vw;
    height: 8vw;
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 20px; */
}

.logo{
    width: 48px;
    height: 48px;
    margin-top: 30px;
}
.title{
    font-family: sans-serif;
    font-size: 2rem;
    color: aliceblue;
    margin-top: 35px;
    margin-left: -30px;
}